///////////////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 3rem;
}

///////////////////////////////////////////////////////
// SERACH 

.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and(max-width:$bp-smallest){
        order: 1;
        // flexのorderの基準は0なので、1にすることで、一番最後に配置される
        flex: 0 0 100%;
    }


    &__input{
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.5rem;

        transition: all .2s;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);           
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);                   
    } 

    &__button{
        border: none;
        background-color: var(--color-grey-light-2);
        
        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }

    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
        // fillでSVG（虫眼鏡アイコン）の色を変えることができる
    }
}


///////////////////////////////////////////////////////
// USER NAVIGATION

.user-nav{
        
    align-self: stretch;
    // user-navの親要素であるheaderに合わせる

    display: flex;
    align-items: center;
    // align-itemsは縦の制御（センタリング）

    & > *{
        // direct chidlrenを選択
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        //100%にすることで、縦幅を合わせている

        display: flex;
        align-items: center;

    }
    
    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100px;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    
}


///////////////////////////////////////////////////////
// SIDE NAVIGATION

.side-nav{
font-size: 1.4rem;
list-style: none;
margin-top: 3.5rem;

    @media only screen and(max-width:$bp-medium){
        display: flex;
        margin: 0;        
    }

    &__item{
        position: relative;

        &:not(:last-child){
            margin-bottom: .5rem;

            @media only screen and(max-width:$bp-medium){
                margin: 0;
            }
        }

        @media only screen and(max-width:$bp-medium){
            flex: 1;
        }
    }

    &__item::before{
        content:"";
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }


    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before{
        background-color: var(--color-primary-light);
        // background-color: orange;
    }

    &__link:link,
    &__link:visited{
        color: var(--color-grey-light-1);
        
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3.5rem;

        position: relative;
        z-index: 10;
        // z-indexはポジションが定まっていないと動作しない。
        // ※アニメーションのものと被らないように、linkのzを上げている

        display: flex;
        align-items: center;
        
        @media only screen and(max-width:$bp-medium){
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and(max-width:$bp-small){
            flex-direction: column;
            padding: 1.5rem .5rem;
        }
    }



    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @media only screen and(max-width:$bp-small){
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

///////////////////////////////////////////////////////
// Legal Text
.legal{
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and(max-width:$bp-medium){
        display: none;
    }
}

///////////////////////////////////////////////////////
// Gallery

.gallery{
    display: flex;

    &__photo{
        width: 100%;
        display: block;
    }

}

///////////////////////////////////////////////////////
// Hotel Overview

.overview{
    display: flex;    
    align-items: center;
    border-bottom:var(--line);

    
    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and(max-width:$bp-small){
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars{
        // flex: 1;
        // ↑だと、想定外の箇所（★以外の箇所）もhoverしたときに含まれるので、
        // hoverエフェクトを入れるときに困りかねない

        margin-right: auto;
        // ↑だと、良い感じになる（要クロームのdevツールで確認）
        // (参考)https://codepen.io/anon/pen/YYwmXd

        // background-color: orangered;
        display: flex;
    }

    &__icon-star,
    &__icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location{
       font-size:1.2rem;
       display: flex;
       align-items: center;
    }

    &__icon-location{
        margin-right: .5rem;
    }

    &__rating{
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and(max-width:$bp-small){
            padding: 0 1.5rem;
        }
    }

    &__rating-average{
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -.3rem;

        @media only screen and(max-width:$bp-small){
            font-size: 1.8rem;
        }

    }

    &__rating-count{
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and(max-width:$bp-small){
            font-size: 1.5rem;
        }
    }


}
///////////////////////////////////////////////////////
// Button Inline

.btn-inline{
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;

    & span{
        margin-left: 3px;
        transition: all .2s;
    }

    &:hover{
        color: var(--color-grey-dark-1);
        animation: pulsate 1s infinite;

        & span{
            margin-left: 8px;

        }
    }

    &:focus{
      outline: none;  
    }

}

@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }

}

///////////////////////////////////////////////////////
// Paragraph
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}
// last-child とlast-of-type（-childと-of-type）の違いは以下を参照
// https://qiita.com/carotene512/items/49c9fd54e930700c59ad


///////////////////////////////////////////////////////
// List
.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before{
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;
        
        // 以下はoldブラウザで有効ではあるが、色を変えることができない
        // なので、メントアウトしておく（コメントアウトを抜けば、色はつかないが機能はする）
        // background-image: url(../img/chevron-thin-right.svg);
        // background-size: cover;

        // For new browser(masks)
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;

    }

}


///////////////////////////////////////////////////////
// Recommend
.recommend{
    font-size: 1.4rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__count{
        margin-right: auto;
    }

    &__firends{
        display: flex;
    }

    &__photo{
        box-sizing: content-box;
        // ボーダーで囲うので、ボーダーボックスだと写真が少し小さくなってしまう。
        // そのため、コンテントボックスに（ここだけ）してあげる

        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:last-child){
            margin-right: -1.5rem;
        }

    }
}

///////////////////////////////////////////////////////
// Reviews
.review{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and(max-width:$bp-medium){
        padding: 2rem;
        margin-bottom: 2rem;
    }

    &__text{
        margin-bottom: 2rem;
        z-index: 2;
        position: relative;
    }

    &__user{
        display: flex;
        align-items: center;
    }

    &__photo{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box{
        margin-right: auto;
    }

    &__user-name{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;

    }

    &__user-date{
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating{
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -2rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
}

///////////////////////////////////////////////////////
// Call to Action

.cta{
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and(max-width:$bp-medium){
        padding: 2rem 0;
    }

    &__book-now{
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
}

///////////////////////////////////////////////////////
// button
.btn{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(to right bottom,var(--color-primary-light),var(--color-primary-dark));
    color: #fff;

    position: relative;
    overflow: hidden;

    cursor: pointer;

    & > *{
        transition: all .2s;
    }

    &__visible{
        display: inline-block;
        padding: 2rem 7.5rem;
    }

    &__invisible{
        display: inline-block;
        position: absolute;
        padding: 2rem 0;
        height: 100%;
        width: 100%;
        left: 0;
        top: -100%;
    }

    &:hover{
        background-image: linear-gradient(to right,var(--color-primary-dark),var(--color-primary-light));
    }

    &:hover &__visible{
        transform: translateY(100%);
    }

    &:hover &__invisible{
        top: 0;    
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
}