.container{
    max-width:120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and(max-width:$bp-largest){
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom:var(--line);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and(max-width:$bp-smallest){
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }

}

.content{
    display: flex;

    @media only screen and(max-width:$bp-medium){
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;
    // 以下の各プロパティのショートハンド
    // flex-grow, flex-shrink, flex-basis
    // (18%が最適なサイドバーの大きさだと経験から判断した．．．らしい)
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    background-color: #fff;

    // test目的で高さと色を付けている（ので後で消す）
    // height: 80rem;
    // background-color: orangered;

    flex: 1;    
}

.detail{
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and(max-width:$bp-medium){
        padding: 2rem;
    }

    @media only screen and(max-width:$bp-small){
        flex-direction: column;
    }
}

.description{

    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 4.5rem;

    @media only screen and(max-width:$bp-medium){
        padding: 2rem;
        margin-right: 2rem;
    }

    @media only screen and(max-width:$bp-small){
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.user-reviews{
    // background-color: yellowgreen;
    // flex: 40%;
    flex: 1;
    // 片方が60%と指定しているので、残りのすべてということで1を用いている。

    display: flex;
    flex-direction: column;
    align-items: center;
}